{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<main id="main" class="main ">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn btn-primary mt-3">{{ button_label|default('Save') }}</button>
		{{ form_end(form) }}
	</main>
{% endblock %}
