{% extends 'base.html.twig' %}

{% block title %}New PaymentTermes{% endblock %}

{% block body %}
    <h1>Create new PaymentTermes</h1>

    {{ include('payment_termes/_form.html.twig') }}

    <a href="{{ path('app_payment_termes_index') }}">back to list</a>
{% endblock %}
