{% extends 'base.html.twig' %}

{% block title %}New Purchase{% endblock %}

{% block body %}
<main id="main" class="main text-center">
    <h1>Create new Purchase</h1>

    {{ include('purchase/_form.html.twig') }}

    <a href="{{ path('app_purchase_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
