{# {% extends 'base.html.twig' %}

{% block title %}New Payment
{% endblock %}

{% block body %}
	<main id="main" class="main ">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-6">
				<div class="text-center">
					<h1>Create new Payment</h1>

					{{ include('payment/_form.html.twig') }}
					<div class="">

						<a href="{{ path('app_payment_index') }}" class="btn btn-primary mt-3">back to list</a>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %} #}
